h1{
    color: #FFF;
    font-size: 4em !important;
    font-family: 'Open Sans', sans-serif !important;
    padding-top: 0.8em !important;
    font-weight: bolder !important; 
    text-transform: uppercase !important;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

h2{
    color: #FFF;
    font-size: 2em !important;
    font-family: 'Open Sans', sans-serif !important;
    padding-top: 0.8em !important;

    font-weight: bolder !important; 
    text-transform: uppercase !important;

}

.infobox {
    width: 960px;
    height: 500px;
    position:absolute;
}

.infobox .background,
.infobox.blue .background {
    z-index: -1000;
    background-color: rgba(0, 76, 128, 0.8);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.infobox.left {
    position:absolute;
    left: 0;
    height:500px;
    width:500px;
}

.infobox.right {
    position:absolute;
    right: 0;
    height:500px;
    width:500px;
}

/*.bluerectangle-right {
    height:500px;
    width:500px;
    position:absolute;
    left: 0;
    background-color: rgba(0, 76, 128, 0.8);
}

.bluerectangle-left {
    height:500px;
    width:500px;
    position:absolute;
    right: 0;
    background-color: rgba(0, 76, 128, 0.8);
}*/